@import url("https://fonts.googleapis.com/css2?family=Solitreo&display=swap");

:root {
  font-family: "Solitreo", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --backgorund-color: #fff;
  --text-color: rgba(0, 0, 0, 0.87);
}

body.dark {
  --backgorund-color: #121212;
  --text-color: #fff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: none;
  list-style: none;
  background-color: transparent;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  max-height: 100vh;
  background-color: var(--backgorund-color);
  color: var(--text-color);
  font-family: var(--font-family);
  font-size: var(--font-size);
  line-height: var(--line-height);
  font-weight: var(--font-weight);
  font-synthesis: var(--font-synthesis);
  text-rendering: var(--text-rendering);
  -webkit-font-smoothing: var(--webkit-font-smoothing);
  overflow: hidden;
}
